<!-- Footer -->

<footer id="footer">

  <i class="fab fa-twitter social-icon"></i>
  <i class="fab fa-facebook social-icon"></i>
  <i class="fab fa-instagram social-icon"></i>
  <i class="fas fa-envelope social-icon"></i>

  <p>© TA Guide 2022. Talent Acquisition Management System</p>

</footer>

<script src="https://getbootstrap.com/docs/5.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

</body>
</html>
