<form action="/login" method="post">

  <div class="form-outline mb-4">
    <input type="email" name="username" class="form-control form-control-lg" value="demo@ta-guide.mail" placeholder="Enter a valid email address" />
  </div>

  <div class="form-outline mb-3">
    <input type="password" name="password" class="form-control form-control-lg" placeholder="Enter password" />
  </div>
  <div class="h-captcha" data-size="normal" data-sitekey="1aa485ba-8414-4dc2-be29-34492d2983d0"></div>
  <div class="d-flex justify-content-between align-items-center">

  </div>

  <div class="text-center text-lg-start mt-4 pt-2">
    <button type="submit" name="loginBtn" value="login" class="btn btn-primary btn-lg btn-mobile" style="padding-left: 1rem; padding-right: 1rem; margin-right: 9px; margin-bottom: 1rem;">Login</button>
    <button type="submit" name="loginBtn" value="register" class="btn btn-warning btn-lg btn-mobile" style="padding-left: 1rem; padding-right: 1rem; margin-bottom: 1rem;">Create Account</button>
  </div>

</form>
