<%- include('partials/header_dashboard') %>

<%- include('partials/dashboard_navigation') %>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Frequently Asked Questions</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="/dashboard" class="btn btn-sm btn-outline-secondary"><span data-feather="home" class="align-text-bottom"></span>
          Dashboard</a>
      </div>
    </div>
  </div>
  <p>Talent Acquisition refers to the overall process of identifying, sourcing, screening, shortlisting, and interviewing candidates for jobs (either permanent or temporary) within an organization. Recruitment can also refer to the processes involved
    in choosing individuals for unpaid roles. Managers, human resource generalists and recruitment specialists may be tasked with carrying out recruitment, but in some cases public-sector employment, commercial recruitment agencies, or specialist
    search consultancies are used to undertake parts of the process. Internet-based technologies which support all aspects of recruitment have become widespread, including the use of artificial intelligence (AI).</p>
  <h1>Process Description</h1>
  <p>Internal recruitment or internal mobility (not to be confused with internal recruiters) refers to the process of a candidate being selected from the existing workforce to take up a new job in the same organization, perhaps as a promotion, or to
    provide career development opportunity, or to meet a specific or urgent organizational need. Advantages include the organization's familiarity with the employee and their competencies insofar as they are revealed in their current job, and their
    willingness to trust said employee. It can be quicker and have a lower cost to hire someone internally.</p>
  <p>Many companies will choose to recruit or promote employees internally. This means that instead of searching for candidates in the general labor market, the company will look at hiring one of their own employees for the position. Companies often
    choose to hire an internal candidate over an external candidate due to the costs of acquiring new employees, and also on the fact that companies have pre-existing knowledge of their own employees’ effectiveness in the workplace. Additionally,
    internal recruitment can encourage the development of skills and knowledge because employees anticipate longer careers at the company. However, promoting an employee can leave a gap at the promoted employee’s previous position that subsequently
    needs to be filled. Traditionally, internal recruitment will be done through internal job postings. Another method of recruiting internally is through employee referrals. Having existing employees in good standing recommend coworkers for a job
    position is often a preferred method of recruitment because these employees know the values of the organization, as well as the work ethic of their coworkers. Some managers will provide incentives to employees who provide successful referrals.
  </p>
  <p>Searching for candidates externally is another option when it comes to recruitment. In this case, employers or hiring committees will search outside of their own company for potential job candidates. The advantages of hiring externally is that
    it often brings fresh ideas and perspectives to the company. As well, external recruitment opens up more possibilities for the applicant pool than internal recruitment does. The conditions of the economy and labor market will impact the ability
    for a company to find and attract viable candidates. In order to make job openings known to potential candidates, companies will usually advertise their job in a number of ways. This can include advertising in local newspapers, journals, and
    online. Research has argued that social media networks offer job seekers and recruiters the opportunity to connect with other professionals cheaply. In addition, professional networking websites such as LinkedIn offer the ability to go through
    job seekers’ biographical resumes and message them directly even if they are not actively looking for a job. Attending job fairs, especially at secondary and post-secondary schools, is another method of recruiting external candidates.</p>
  <p>An employee referral program is a system where existing employees recommend prospective candidates for the job offered, and usually, if the suggested candidate is hired, the employee receives a cash bonus.</p>
  <p>Niche firms tend to focus on building ongoing relationships with their candidates, as the same candidates may be placed many times throughout their careers. Online resources have developed to help find niche recruiters. Niche firms also develop
    knowledge on specific employment trends within their industry of focus (e.g., the energy industry) and are able to identify demographic shifts such as aging and its impact on the industry.</p>
  <p>Social recruiting is the use of social media for recruiting. As more and more people are using the internet, social networking sites, or SNS, have become an increasingly popular tool used by companies to recruit and attract applicants. A study
    conducted by researchers found that 73.5% of Cypriot companies had an account on a SNS, the most common being Facebook, LinkedIn, and Twitter. There are many benefits associated with using SNS in recruitment, such as reducing the time required to
    hire someone, reduced costs, attracting more “computer literate, educated young individuals”, and positively impacting the company’s brand image. However, some disadvantages include increased costs for training HR specialists and installing
    related software for social recruiting. There are also legal issues associated with this practice, such as the privacy of applicants, discrimination based on information from SNS, and inaccurate or outdated information on applicant SNS.</p>
  <p>Mobile recruiting is a recruitment strategy that uses mobile technology to attract, engage, and convert candidates.</p>
  <p>Some recruiters work by accepting payments from job seekers, and in return help them to find a job. This is illegal in some countries, such as in the United Kingdom, in which recruiters must not charge candidates for their services (although
    websites such as LinkedIn may charge for ancillary job-search-related services). Such recruiters often refer to themselves as "personal marketers" and "job application services" rather than as recruiters.</p>
  <p>Using multiple-criteria decision analysis tools such as analytic hierarchy process (AHP) and combining it with conventional recruitment methods provides an added advantage by helping the recruiters to make decisions when there are several
    diverse criteria to be considered or when the applicants lack past experience; for instance, recruitment of fresh university graduates.</p>
  <p>Employers may re-recruit prior rejected candidates or recruit from retired employees as a way to increase the chances for attractive qualified applicants.</p>

  <h1>Talent Acquisition Management System (TA-Guide)</h1>
  <p>Was created to help talent acquisition specialists improve performance and transparency of recrutment process:</p>
  <ul class="list-group">
    <li class="list-group-item">Digitalization of the talent acquisition process.</li>
    <li class="list-group-item">Reports present adequate information on various aspects of the talent acquisition process.</li>
    <li class="list-group-item">All the tasks related to the talent acquisition process are stored in one place.</li>
    <li class="list-group-item">Segmentation of tasks by steps of the talent acquisition process (Initial Human Resources Department Interview Related Tasks, Technical Department Interview Related Tasks and Paperwork Related Tasks).</li>
    <li class="list-group-item">Tracking each step of task progress (Status: "new task", "in progress", "done").</li>
    <li class="list-group-item">Information related to each candidate can be accessed and updated in real time</li>
  </ul>


  <h1>How to use TA-Guide System?</h1>
  <p>TA-Guide System designed with simplicity & efficiency in mind</p>
  <ul class="list-group">
    <li class="list-group-item">Create your account</li>
    <li class="list-group-item">Fill in your personal details (My Settings)</li>
    <li class="list-group-item">Create profile for a new candidate (Create Profile)</li>
    <li class="list-group-item">Create list of necessary tasks for Initial Human Resources Department Interview</li>
    <li class="list-group-item">Create list of necessary tasks for Technical Department Interview</li>
    <li class="list-group-item">Create list of necessary tasks for Paperwork Process.</li>
    <li class="list-group-item">Track each step of task progress (Mark Task Status as "in progress" or "done")</li>
    <li class="list-group-item">Send candidate feedback related to each step of recrutment process</li>
    <li class="list-group-item">Access list of all scheduled tasks for today on Dashboard page</li>
    <li class="list-group-item">Make a final decision of candidte acceptance and send feedback email</li>
  </ul>

  <p>* Text description source - https://en.wikipedia.org/</p>

</main>

<!-- Footer -->

<%- include('partials/footer_dashboard') %>
